# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*.local
.env.local

.DS_Store
*.logs
*.tsbuildinfo

dist/
build/
.cache/
.next/
out/
coverage/
.cache/
.nuxt/
.svelte-kit/
.vite/

package-lock.json
yarn.lock
pnpm-lock.yaml